<h1>Detalhes do Simulado</h1>

<p>Nome do Simulado: {{ simulado.nome }}</p>
<p>Data de Criação: {{ simulado.data_criacao }}</p>
<p>Tema: {{ simulado.tema }}</p>
<p>Nota máxima: {{ nota_maxima }}</p>

<h2>Questões do Simulado:</h2>
<form method="post" action="{% url 'simulado:detalhar_simulado' simulado.id %}">
  {% csrf_token %}
  {% for questao in simulado.questao.all %}
    <p>{{ questao.enunciado }}</p>
    {% for alternativa in questao.alternativa_set.all %}
      <input type="radio" name="questao_{{ questao.id }}" value="{{ alternativa.id }}">
      <label>{{ alternativa.alternativa_texto }}</label><br>
    {% endfor %}
  {% endfor %}
  <button type="submit">Enviar Respostas</button>
</form>

{% if respostas_corretas is not None %}
  <h2>Resultado:</h2>
  <p>Respostas Corretas: {{ respostas_corretas }}</p>
  <p>Nota Obtida: {{ nota_obtida }}</p>
  <p>Nota Máxima: {{ nota_maxima }}</p>
  <p>Porcentagem de Acertos: {{ porcentagem_acertos }}%</p>
{% endif %}