<html>
    <head>
        <title>Simulado</title>
    </head>
    <body>
        <h1>Simulado Online</h1>
        <hr/>
        &copy; DSWeb/TADS/CNAT/IFRN 2023


      {% if user.is_authenticated %}
      
      <a
      href="{% url 'simulado:logout' %}"
      class="btn btn-outline-primary"
      >Logout</a
    >

    <a
      href="{% url 'simulado:adicionar_questao' %}"
      class="btn btn-outline-primary"
      >Adicionar questao</a
    >

    <a
      href="{% url 'simulado:adicionar_simulado' %}"
      class="btn btn-outline-primary"
      >Adicionar simulado</a
    >
      {% else %}
      <br>
        <a
        href="{% url 'simulado:registrar' %}"
        class="btn btn-outline-primary"
        >Cadastro</a
      >

        <a
        href="{% url 'simulado:login' %}"
        class="btn btn-outline-primary"
        >Login</a
      >

      <a
      href="{% url 'simulado:adicionar_questao' %}"
      class="btn btn-outline-primary"
      >Adicionar questao</a
    >
      {% endif %}
    </body>
</html>
